<spacer size="20"></spacer>
<row>
    <columns large="4" small="12">
        <center><a href="{{href}}?{{{gatracking}}}" target="_blank"><img src="https://s3.amazonaws.com/static.komoot.de/email/inspire/{{campaign}}/{{image}}" width="336" height="248" alt="Tour Foto von {{title}}" class="res"></a></center>
        <p class="copyright"><a href="{{copyright-href}}" target="_blank">{{copyright}}</a></p>
    </columns>
    <columns large="8" small="12">
        <h5><a href="{{href}}?{{{gatracking}}}" target="_blank">{{title}}</a></h5>
        <p class="stats"><span>Touren: <b>{{stat-tours}}</b></span>   <span>Distanz: <b>{{stat-dist}} km</b></span>   <span>Höhenmeter: <b>{{stat-elev}} m</b></span></p>
        <p>{{copy}}</p>
    </columns>
</row>