<row>
    <columns large="1" small="2">
        <img src="https://s3.amazonaws.com/static.komoot.de/email/inspire/{{campaign}}/badge-mtb.png" width="24" height="24" class="tour-badge">
        </columns>
        <columns large="11" small="10"><h5 class="tour-name"><a href="{{href}}">{{title}}</a></h5>
        <p class="stats"><span>
                {{#ifequal layout 'de'}}Touren: {{/ifequal}}
                {{#ifequal layout 'en'}}Tours: {{/ifequal}}
                <b>{{stat-tours}}</b></span>   
            <span>
                {{#ifequal layout 'de'}}Distanz: {{/ifequal}}
                {{#ifequal layout 'en'}}Distance: {{/ifequal}}
                <b>{{stat-dist}}</b></span>   
            <span>
                {{#ifequal layout 'de'}}Höhenmeter: {{/ifequal}}
                {{#ifequal layout 'en'}}Elevation: {{/ifequal}}
                <b>{{stat-elev}}</b></span></p>
        <p>{{copy}}</p>
    </columns>
</row>